streamlit
opencv-python-headless
torch==2.0.1 --find-links https://download.pytorch.org/whl/cpu/torch-2.0.1%2Bcpu-cp311-cp311-linux_x86_64.whl
torchvision==0.15.2 --find-links https://download.pytorch.org/whl/cpu/torchvision-0.15.2%2Bcpu-cp311-cp311-linux_x86_64.whl
numpy
pyyaml
requests
tqdm
pillow
matplotlib
scipy
